@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  transition-property: color, background-color;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--text-color);
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  max-width: 100%;
  max-height: 100%;
}

body {
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  color: var(--text-color);
}

h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: var(--text-color);
}

h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--accent-color);
}

h4 {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: var(--text-color);
}

button {
  background-color: var(--accent-color-dark);
  color: #fefefe;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
}

button>* {
  margin: 5px;
}

button:hover {
  background-color: var(--hover-color);
}

#darkmode {
  --background-color: #141d2f;
  --main-color: #1e2a47;
  --text-color: #ffffff;
  --accent-color-dark: #0079ff;
  --accent-color-light: #4B6A9B;
  --hover-color: #60ABFF;
}

#lightmode {
  --background-color: #F6F8FF;
  --main-color: #fefefe;
  --text-color: #2B3442;
  --accent-color-dark: #0079ff;
  --accent-color-light: #4B6A9B;
  --hover-color: #60ABFF;
}